body {
    font-family: 'Roboto Serif', serif;
    margin: 0;
    padding: 0;
}

                    /* NAV */ 
.nav {
    color: black;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    width: 100%;
}

.p {
    margin: 1.5%;
    padding-right: 2%;
}

.but-G {
    border-radius: 50%;
}

                    /* Header*/ 
.img-logo {
    width: 30%;
    height: 20%;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

                    /* FOOTER */

.footer-container {
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

.footer-2 {
    display: flex;
    justify-content: space-between;
}

.footer-child-1, .footer-child-2 {
    display: flex;
}

